<footer>
  <div id="izquierda">
    <ul>
      <li><a href="">Contáctanos</a></li>
      <li><a href="">Política de privacidad</a></li>
    </ul>
  </div>
  <div id="derecha">
    <ul>
      <li><a href=""><img src="{{rutaInstagram}}" alt="Instagram" width="50px" height="50px"></a></li>
      <li><a href=""><img src="{{rutaSnapchat}}" alt="snapchat" width="50px" height="50px"></a></li>
      <li><a href=""><img src="{{rutaTwitter}}" alt="twitter" width="50px" height="50px"></a></li>
      <li><a href=""><img src="{{rutaYoutube}}" alt="youtube" width="50px" height="50px"></a></li>
    </ul>
  </div>
</footer>
