<section>
  <article id="menu" (scrollend)="true">
    <div id="buscadorDiv">
      <input type="text" name="buscador" id="buscador" placeholder="¿Qué estás buscando?">
      <a href="/catalogo"><img src="{{buscar}}" alt="buscar" width="30px" height="30px"></a>
    </div>
    <div id="menuDiv">
      <div id="filtrarDiv">
        <a href="/catalogo"><img src="{{filtrar}}" alt="filtrar" width="30px" height="30px"></a>
        <p>Filtrar</p>
      </div>
      <div id="ordenDiv">
        <p>Ordenar</p>
        <a href="/catalogo"><img src="{{ordenar}}" alt="ordenar" width="30px" height="30px"></a>
      </div>
    </div>
  </article>
  <article id="slider1">
    <p>En oferta<br></p>
      <span class="ss-icon" id="izq">&lt;</span>
    <div class="categoriaDiv">
      <img src="{{img1}}" alt="foto" srcset="{{img1}}">
      <img src="{{img2}}" alt="foto" srcset="{{img2}}">
      <img src="{{img3}}" alt="foto" srcset="{{img3}}">
      <img src="{{img4}}" alt="foto" srcset="{{img4}}">
      <img src="{{img5}}" alt="foto" srcset="{{img5}}">
      <img src="{{img6}}" alt="foto" srcset="{{img6}}">
      <img src="{{img7}}" alt="foto" srcset="{{img7}}">
      <img src="{{img8}}" alt="foto" srcset="{{img8}}">
      <img src="{{img1}}" alt="foto" srcset="{{img1}}">
    </div>
      <span class="ss-icon" id="der">&gt;</span>
  </article>
</section>
