<section>
  <article id="menu" (scrollend)="true">
    <div id="buscadorDiv">
      <input type="text" name="buscador" id="buscador" placeholder="¿Qué estás buscando?">
      <a href="/catalogo"><img src="{{buscar}}" alt="buscar" width="30px" height="30px"></a>
    </div>
    <div id="menuDiv">
      <div id="filtrarDiv">
        <a href="/catalogo"><img src="{{filtrar}}" alt="filtrar" width="30px" height="30px"></a>
        <p>Filtrar</p>
      </div>
      <div id="ordenDiv">
        <p>Ordenar</p>
        <a href="/catalogo"><img src="{{ordenar}}" alt="ordenar" width="30px" height="30px"></a>
      </div>
    </div>
  </article>
  <article id="slider1">

  </article>
  </section>
