<section>
  <article id="menu" (scrollend)="true">
    <div id="buscadorDiv">
      <input type="text" name="buscador" id="buscador" placeholder="¿Qué estás buscando?">
      <a href="/catalogo"><img src="{{buscar}}" alt="buscar" width="30px" height="30px"></a>
    </div>
    <div id="menuDiv">
      <div id="filtrarDiv">
        <a href="/catalogo"><img src="{{filtrar}}" alt="filtrar" width="30px" height="30px"></a>
        <p>Filtrar</p>
      </div>
      <div id="ordenDiv">
        <p>Ordenar</p>
        <a href="/catalogo"><img src="{{ordenar}}" alt="ordenar" width="30px" height="30px"></a>
      </div>
    </div>
  </article>
  <article class="slider" id="slider1">
    <p>En oferta<br></p>
    <span class="ss-icon izq" (click)="funcionBotones(false, 1,3)">&lt;</span>
    <div class="categoriaDiv" id="categoriaDiv1">
      <ng-container *ngIf="{resultado:buscarOfertas()} as temp">
        <ng-container *ngFor="let producto of temp.resultado">
          @if (producto.oferta) {
            <a routerLink="/ficha/{{producto.id}}"><img src="{{producto.imagen}}" alt="{{producto.nombre}}"></a>
          }
        </ng-container>
      </ng-container>
    </div>
    <span class="ss-icon der" (click)="funcionBotones(true, 1,3)">&gt;</span>
  </article>

  <article class="slider" id="slider2">
    <p>Lo más buscado<br></p>
    <span class="ss-icon izq" (click)="funcionBotones(false, 2,3)">&lt;</span>
    <div class="categoriaDiv" id="categoriaDiv2">
      <ng-container *ngFor="let id of masBuscado">
        <ng-container *ngIf="{resultado: obtenerProducto(id)} as temp">
          <a routerLink="/ficha/{{id}}"><img src="{{temp.resultado.imagen}}" alt="{{temp.resultado.nombre}}"></a>
        </ng-container>
      </ng-container>
    </div>
    <span class="ss-icon der" (click)="funcionBotones(true, 2,3)">&gt;</span>
  </article>

  <article class="slider" id="slider3">
    <p>Drama<br></p>
    <span class="ss-icon izq" (click)="funcionBotones(false, 3,5)">&lt;</span>
    <div class="categoriaDiv" id="categoriaDiv3">
      <ng-container *ngFor="let id of drama">
        <ng-container *ngIf="{resultado: obtenerProducto(id)} as temp">
          <a routerLink="/ficha/{{id}}"><img src="{{temp.resultado.imagen}}" alt="{{temp.resultado.nombre}}"></a>
        </ng-container>
      </ng-container>
    </div>
    <span class="ss-icon der" (click)="funcionBotones(true, 3,5)">&gt;</span>
  </article>

  <article class="slider" id="slider4">
    <p>Fantasía<br></p>
    <span class="ss-icon izq" (click)="funcionBotones(false, 4,7)">&lt;</span>
    <div class="categoriaDiv" id="categoriaDiv4">
      <ng-container *ngFor="let id of fantasia">
        <ng-container *ngIf="{resultado: obtenerProducto(id)} as temp">
          <a routerLink="/ficha/{{id}}"><img src="{{temp.resultado.imagen}}" alt="{{temp.resultado.nombre}}"></a>
        </ng-container>
      </ng-container>
    </div>
    <span class="ss-icon der" (click)="funcionBotones(true, 4,7)">&gt;</span>
  </article>

  <article class="slider" id="slider5">
    <p>Juegos de Rol<br></p>
    <span class="ss-icon izq" (click)="funcionBotones(false, 5,3)">&lt;</span>
    <div class="categoriaDiv" id="categoriaDiv5">
      <ng-container *ngFor="let id of rol">
        <ng-container *ngIf="{resultado: obtenerProducto(id)} as temp">
          <a routerLink="/ficha/{{id}}"><img src="{{temp.resultado.imagen}}" alt="{{temp.resultado.nombre}}"></a>
        </ng-container>
      </ng-container>
    </div>
    <span class="ss-icon der" (click)="funcionBotones(true, 5,3)">&gt;</span>
  </article>

  <article class="slider" id="slider6">
    <p>Catalogo más reciente<br></p>
    <span class="ss-icon izq" (click)="funcionBotones(false, 6,11)">&lt;</span>
    <div class="categoriaDiv" id="categoriaDiv6">
      <ng-container *ngIf="{resultado:listarProductos()} as temp">
        <ng-container *ngFor="let producto of temp.resultado">
          <a routerLink="/ficha/{{producto.id}}"><img src="{{producto.imagen}}" alt="{{producto.nombre}}"></a>
        </ng-container>
      </ng-container>
    </div>
    <span class="ss-icon der" (click)="funcionBotones(true, 6,11)">&gt;</span>
  </article>

  <!--  Máscaras: Impiden que se vea los libros por fuera de su contenedor-->
  <div class="mascaraIzq mascara"></div>
  <div class="mascaraDer mascara"></div>
</section>
