section{
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  height: 98%;
  margin: 5px 0;
}

#menu {
  background-color: var(--fondo2);
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/*Buscador*/
#buscadorDiv {
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border-radius: 10px;
  background-color: #888888;
  position: relative;
}

#buscador {
  font-size: 20px;
  border-radius: 30px;
}

#buscadorDiv a {
  position: absolute;
  right: 21px;
  top: 14px;
}
/*Menu de Búsqueda*/
#menuDiv {
  width: 80%;
  display: flex;
}

#menuDiv div {
  width: 50%;
  display: flex;
  align-items: center;
  border-bottom: solid 2px black;
}

#ordenDiv {
  justify-content: end;
}
/*Sliders*/
#slider1 {
  width: 80%;
  height: 300px;
  padding: 20px;
  position: relative;
  background-color: var(--fondo2);
}

.categoriaDiv {
  width: 100vw;
  height: 150px;
  display: flex;
  align-items: center;
  position: absolute;
  left: 3%;
  overflow: visible;
}

#slider1 img{
  width: 150px;
  height: 150px;
  margin: 10px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  transition: 2s;
}

#slider1 img:hover{
  width: 200px;
  height: 300px;
  object-fit: contain;
}

.ss-icon{
  color: #000;
  text-decoration: none;
  font-size: 2rem;
  position:absolute;
  top: 35%
}

.ss-icon:hover{
  color: #888;
  cursor: pointer;
}

.ss-icon#izq{
  left: 1%;
}

.ss-icon#der{
  right: 1%;
  background-color: white;
}
