main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: fit-content(0vh) fit-content(0vh) auto 100px;
  grid-template-areas:
    "cabecero"
    "nav"
    "principal"
    "pie";
  height: 100vh;
}

#cabecero {
  z-index: 4;
  grid-area: cabecero;
}

#nav {
  grid-area: nav;
  background: #4900f3;
  position: sticky;
  top: 0;
  z-index: 4;;
}

#principal {
  grid-area: principal;
}

#pie {
  grid-area: pie;
  background: #a8a8a8;
  position: fixed;
  width: 100vw;
  right: 0;
  bottom: 0;
  z-index: 4;
}

.oculto {
  display: none;
}
