main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: fit-content(0vh) fit-content(0vh) auto 100px;
  grid-template-areas:
    "cabecero"
    "nav"
    "principal"
    "pie";
  height: 100vh;
}

#cabecero {
  grid-area: cabecero;
}

#nav {
  grid-area: nav;
  background: #4900f3;
}

#principal {
  grid-area: principal;
}

#pie {
  grid-area: pie;
  background: #a8a8a8;
}

.oculto {
  display: none;
}
