nav {
  width: 100vw;
  display: flex;
  justify-content: center;
  height: 50px;
}

ul {
  list-style: none;
  margin: auto;
  display: flex;
}

a{
  color: white;
  text-decoration: none;
  margin-inline: 100px;

}

.pestActiva {
  color: var(--dorado);
  cursor: not-allowed;
}
