/* You can add global styles to this file, and also import other style files */
*{
  --title: 'Brush Script MT';
  --content: Garamond;
  --dorado: #c0a117;
  --recuadroHeaderGrad: linear-gradient(#D9D9D9,#4900f3);
  --fondo2: #D9D9D9;
}

body {
  margin: 0;
}
