.cuerpoTarjeta{
  display: flex;
  width: 500px;
  height: fit-content;
  align-items: center;
  justify-content: center;
  background-color: #8378FF;
  border-radius: 5px;
}
.cuerpoTarjeta a{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
}

.cuerpoTarjeta div {
  width: 100%;
  display: flex;
}

.cuerpoTarjeta p{
  margin: 5px;
  color: #2D1DE7;
  font-size: 20px;
}

.cuerpoTarjeta img{
  border-radius: 50%;
  margin: 3px;
  border: #2D1DE7 dotted 3px;
}

#cerrarSesion{
  color: white;
}

#iniciarSesionDiv {
  width: 300px;
}
